<div class="gda-row">
  <div class="gda-col gda-no-padding gda-no-margin">
    <div class="wrap-heroimage subpage">
      <div class="heroimage"></div>
    </div>
  </div>
</div>
<div class="gda-container">
  <div class="gda-row gda-p-mobile-default" id="start">
    <div class="gda-col gda-m-top-5 gda-m-bottom-5">
      <h1 class="gda-m-bottom-5">
        Die Referenzen & Partner der <br><span class="yellow">german </span> <span class="blue">digital </span> <span
        class="green">allstars</span>
      </h1>
      <p>Gerne stellen wir Ihnen eine Auswahl unserer <strong>Referenzen</strong> vor. In den vergangenen Jahren haben
        die wir erfolgreich zahlreiche Projekte abgeschlossen und dabei unsere Kompetenzen unter Beweis gestellt. Wir
        haben uns in den Bereichen <strong>Webdesign, Social Media und Suchmaschinenoptimierung (SEO)</strong> bewährt
        und können auf eine Vielzahl zufriedener Kunden verweisen. In unseren Referenzen finden Sie eine Auswahl von
        Projekten, die wir in den vergangenen Jahren durchgeführt haben. Sie dienen als Beispiele für unsere
        Leistungsfähigkeit und zeigen, dass wir auch anspruchsvolle Aufträge zuverlässig und erfolgreich umsetzen
        können. Wir freuen uns, wenn wir auch für Sie tätig werden dürfen und stehen Ihnen gerne für weitere Fragen zur
        Verfügung.</p>
    </div>
  </div>
  <div class="gda-row">
    <div class="gda-col gda-no-vertical-padding">
      <h2>Referenzen der german digital allstars</h2>
    </div>
  </div>
  <div class="gda-row gda-p-mobile-default" id="projects">

    <div class="gda-col display-flex flex-row flex-wrap flex-align-stretch">
      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>
            Goethe Unibator
          </h4>
          <a href="https://goetheunibator.de/" class="color-white">goetheunibator.de</a>
        </div>
        <a class="right yellow" href="https://goetheunibator.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WooCommerce</div>
          </div>
          <h4>Digitalwehr</h4>
          <a href="https://digitalwehr.de/" class="color-white">digitalwehr.de</a>
        </div>
        <a class="right yellow" href="https://digitalwehr.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Jan Pieper</h4>
          <a href="https://pieperjan.dev/" class="color-white">pieperjan.de</a>
        </div>
        <a class="right yellow" href="https://pieperjan.dev/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WooCommerce</div>
          </div>
          <h4>Oh Why</h4>
          <a href="https://oh-why.de/" class="color-white">oh-why.de</a>
        </div>
        <a class="right yellow" href="https://oh-why.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Triwerk</h4>
          <a href="https://www.triwerk-personal.de/" class="color-white">triwerk-personal.de</a>
        </div>
        <a class="right yellow" href="https://www.triwerk-personal.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Künstlerin Claudia Tebben</h4>
          <a href="https://www.tebben.art/" class="color-white">tebben.art</a>
        </div>
        <a class="right yellow" href="https://www.tebben.art/">
          Projekt anzeigen
        </a>
      </div>


      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Binaris Informatik</h4>
          <a href="https://binaris-informatik.de/" class="color-white">binaris-informatik.de</a>
        </div>
        <a class="right yellow" href="https://binaris-informatik.de/">
          Projekt anzeigen
        </a>
      </div>


      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Wellblech Sauerland</h4>
          <a href="https://wellblech-sauerland.de/" class="color-white">wellblech-sauerland.de</a>
        </div>
        <a class="right yellow" href="https://wellblech-sauerland.de/">
          Projekt anzeigen
        </a>
      </div>


      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Cyber Complete</h4>
          <a href="https://cybercomplete.de/" class="color-white">cybercomplete.de</a>
        </div>
        <a class="right yellow" href="https://cybercomplete.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Haus Westfeld</h4>
          <a href="https://www.haus-westfeld.de/" class="color-white">haus-westfeld.de</a>
        </div>
        <a class="right yellow" href="https://www.haus-westfeld.de/">
          Projekt anzeigen
        </a>
      </div>


      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Beatriz Hollstegge Rechtsanwältin</h4>
          <a href="https://rba-hollstegge.de/" class="color-white">rba-hollstegge.de</a>
        </div>
        <a class="right yellow" href="https://rba-hollstegge.de/">
          Projekt anzeigen
        </a>
      </div>


      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Cafe Creperie</h4>
          <a href="https://cafe-creperie.de/" class="color-white">cafe-creperie.de</a>
        </div>
        <a class="right yellow" href="https://cafe-creperie.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Skistadl Schmallenberg</h4>
          <a href="https://skistadl-schmallenberg.de/" class="color-white">skistadl-schmallenberg.de</a>
        </div>
        <a class="right yellow" href="https://skistadl-schmallenberg.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">Typo3</div>
          </div>
          <h4>Malermeister Pape</h4>
          <a href="https://www.malermeister-pape.de/" class="color-white">malermeister-pape.de</a>
        </div>
        <a class="right yellow" href="https://www.malermeister-pape.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WooCommerce</div>
          </div>
          <h4>Holistic Lifestyle</h4>
          <a href="https://holistic-lifestyle.de/" class="color-white">holistic-lifestyle.de</a>
        </div>
        <a class="right yellow" href="https://holistic-lifestyle.de/">
          Projekt anzeigen
        </a>
      </div>

    </div>
  </div>

  <div class="gda-row">
    <div class="gda-col">
      <h2>Partner der german digital allstars</h2>
    </div>
  </div>
  <div class="gda-row gda-p-mobile-default" id="partner">
    <div class="gda-col display-flex flex-row flex-justify-center flex-wrap flex-align-stretch">
      <div class="logo">Logo Hö Ma</div>
      <div class="logo">Logo Adornis</div>
      <div class="logo">Logo Deutsche Online Agentur</div>
      <div class="logo">Logo Viereinhalb</div>
      <div class="logo">Logo creatin g</div>
      <div class="logo">Logo Google</div>
      <div class="logo">Logo Googel</div>
    </div>
  </div>
</div>
