<div class="leistungen gda-p-5 gda-p-mobile-default" id="leistungen">
  <h2>Leistungen der german digital allstars</h2>
  <div class="gda-main-services display-flex flex-row flex-wrap flex-align-stretch">
    <div
      class="webdesign wrap-leistungen display-flex flex-column flex-justify-spacebetween gda-m-right-2 gda-m-bottom-5">
      <div class="wrap-content">
        <h4 class="gda-p-bottom-2">Webdesign</h4>
        <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">Angular</div>
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WooCommerce</div>
        </div>
        <p>Für jeden Anwendungsfall die richtige Lösung.</p>
      </div>
      <!--
      <a class="cta-learnmore display-flex flex-row">
        <div class="text display-flex flex-column">
          <strong>Weitere Informationen</strong>
          <span>Erfahren Sie alles über unsere Web-Dienstleistungen.</span>
        </div>
        <div class="icon display-flex flex-justify-center align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="14.835" height="14.835" viewBox="0 0 14.835 14.835">
            <path id="arrow_forward_FILL0_wght400_GRAD0_opsz48"
                  d="M15.417,22.835l-.974-1,5.725-5.725H8V14.722H20.169L14.444,9l.974-1,7.417,7.417Z"
                  transform="translate(-8 -8)" fill="#fff"/>
          </svg>

        </div>
      </a>-->
    </div>
    <div class="seo wrap-leistungen display-flex flex-column flex-justify-spacebetween gda-m-right-2 gda-m-bottom-5">
      <div class="wrap-content">
        <h4 class="gda-p-bottom-2">Suchmaschinenoptimierung <small>(SEO)</small></h4>
        <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">SEO-Beratung</div>
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">SEO-Workshops</div>
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">Landingpage-Optimierung</div>
        </div>
        <p>Für jeden Anwendungsfall die richtige Lösung.</p>
      </div>
      <!--<a class="cta-learnmore display-flex flex-row">
        <div class="text display-flex flex-column">
          <strong>Weitere Informationen</strong>
          <span>Erfahren Sie alles über unsere SEO-Dienstleistungen.</span>
        </div>
        <div class="icon display-flex flex-justify-center align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="14.835" height="14.835" viewBox="0 0 14.835 14.835">
            <path id="arrow_forward_FILL0_wght400_GRAD0_opsz48"
                  d="M15.417,22.835l-.974-1,5.725-5.725H8V14.722H20.169L14.444,9l.974-1,7.417,7.417Z"
                  transform="translate(-8 -8)" fill="#fff"/>
          </svg>

        </div>
      </a>-->
    </div>
    <div
      class="socialmedia wrap-leistungen display-flex flex-column flex-justify-spacebetween gda-m-right-2 gda-m-bottom-5">
      <div class="wrap-content">
        <h4 class="gda-p-bottom-2">Social Media</h4>
        <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">Instagram</div>
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">Facebook</div>
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">TikTok</div>
        </div>
        <p>Für jeden Anwendungsfall die richtige Lösung.</p>
      </div>
      <!--<a class="cta-learnmore display-flex flex-row">
        <div class="text display-flex flex-column">
          <strong>Weitere Informationen</strong>
          <span>Erfahren Sie alles über unsere Social-Dienstleistungen.</span>
        </div>
        <div class="icon display-flex flex-justify-center align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="14.835" height="14.835" viewBox="0 0 14.835 14.835">
            <path id="arrow_forward_FILL0_wght400_GRAD0_opsz48"
                  d="M15.417,22.835l-.974-1,5.725-5.725H8V14.722H20.169L14.444,9l.974-1,7.417,7.417Z"
                  transform="translate(-8 -8)" fill="#fff"/>
          </svg>

        </div>
      </a>-->
    </div>
    <div class="addon wrap-leistungen display-flex flex-column flex-justify-spacebetween gda-m-right-2 gda-m-bottom-5">
      <div class="wrap-content">
        <h4 class="gda-p-bottom-2">CyberSecurity</h4>
        <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">Angular</div>
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WooCommerce</div>
        </div>
        <p>Für jeden Anwendungsfall die richtige Lösung.</p>
      </div>
    </div>
    <div class="addon wrap-leistungen display-flex flex-column flex-justify-spacebetween gda-m-right-2 gda-m-bottom-5">
      <div class="wrap-content">
        <h4 class="gda-p-bottom-2">Content Creation</h4>
        <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">Fotografie</div>
          <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">Texte</div>
        </div>
        <p>Für jeden Anwendungsfall die richtige Lösung.</p>
      </div>
    </div>
  </div>
</div>
