@import "../../../assets/sass/_var"
@import "../../../assets/sass/_mixins"

.navigation
  margin-top: 10px
  &.smallnavigation
    margin-top: 3px
    .color-white
      color: $black !important
.gda-navi-link
  padding: 20px 10px
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  text-decoration: none
  @include navihover
  @include transition(all)
