<div class="gda-row">
  <div class="gda-col gda-no-padding gda-no-margin">
    <div class="wrap-heroimage subpage">
      <div class="heroimage"></div>
    </div>
  </div>
</div>
<div class="gda-container">
  <div class="gda-row gda-p-mobile-default" id="impressum">
    <div class="gda-col">
      <h1>Impressum</h1>

      <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
      <p>German Digital Allstars GmbH<br/>
        Weststra&szlig;e 4<br/>
        57392 Schmallenberg</p>

      <p>Handelsregister: HRB 12716<br/>
        Registergericht: Arnsberg</p>

      <p><strong>Vertreten durch:</strong><br/>
        Benjamin Richter</p>

      <h2>Kontakt</h2>
      <p>Telefon: +49 (0) 2972 6449<br/>
        E-Mail: hi@gda.technology</p>

      <h2>EU-Streitschlichtung</h2>
      <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a
        href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br/>
        Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

      <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
      <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
        teilzunehmen.</p>
    </div>
  </div>
</div>
