// ! Custom Styling Navigation/AppComponent
@import ../../../assets/sass/_var
@import ../../../assets/sass/_mixins

.wrap-heroimage
  position: relative
  display: block
  height: 534px
  @include breakpoint(max, laptop)
    height: 400px
  @include breakpoint(max, tablet-extra)
    height: 350px
  @include breakpoint(max, mobile-extra)
    height: 250px
  width: 100%
  overflow: hidden

  .heroimage
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: block
    width: 100%
    height: 100%
    @include breakpoint(max, laptop)
      background-image: url('/assets/images/home/b_laptop_heroimage_1484438981_komp.webp')
    @include breakpoint(max, tablet-extra)
      background-image: url('/assets/images/home/c_tablet_heroimage_1484438981_komp.webp')
    @include breakpoint(max, mobile-extra)
      background-image: url('/assets/images/home/d_mobile_heroimage_1484438981_komp.webp')
    background-image: url('/assets/images/home/a_desktop_heroimage_1484438981_komp.webp')
    background-repeat: no-repeat
    background-size: cover
    background-position: center


// ! Start
#start
  h1
    max-width: 85%
    .heart
      svg
        margin-bottom: -19px
        height: 70px
  p
    column-count: 2
    column-gap: 4rem
    @include breakpoint(max, tablet)
      column-count: 1



// ! Leistungen
#leistungen
  .gda-col
    padding-top: 0 !important

// ! Services
#services
  @include breakpoint(max, mobile-extra)
    flex-direction: column-reverse

  .gda-col
    &.service-graphic-content

    &.service-graphic
      padding: 5% 0 0 10%
      @include breakpoint(max, tablet-extra)
        padding-left: 0

// ! Mission
#mission,
#vision,
#burning
  h3
    font:
      size: 5.2rem
    @include breakpoint(max, laptop)
      font:
        size: 4.2rem
    @include breakpoint(max, tablet)
      font:
        size: 3.2rem
    @include breakpoint(max, mobile)
      font:
        size: 2.1rem


// ! Teamimage
#teamimage
  picture
    img
      width: 100%

// ! Facts About
#facts
  .gda-col
    .gda-bg-light
      background: $bg-light-blue
      border-radius: 64px

#factsabout

.gda-facts-about
  font:
    size: 5.2rem
  @include breakpoint(max, laptop)
    font:
      size: 4.2rem
  @include breakpoint(max, tablet)
    font:
      size: 3.2rem
  @include breakpoint(max, mobile)
    font:
      size: 2.1rem

// ! button-main
.button-main,
.button-outline
  width: fit-content
  padding: 10px 20px
  border-radius: 50px

.button-main
  background-color: $blue
  color: $white
  svg
    path
      fill: $white

.button-outline
  border: 1px solid $blue




// !  Refeerenzen
.wrap-heroimage
  position: relative
  display: block
  height: 534px
  @include breakpoint(max, laptop)
    height: 400px
  @include breakpoint(max, tablet-extra)
    height: 350px
  @include breakpoint(max, mobile-extra)
    height: 250px
  width: 100%
  overflow: hidden

  .heroimage
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: block
    width: 100%
    height: 100%
    @include breakpoint(max, laptop)
      background-image: url('/assets/images/home/b_laptop_heroimage_1484438981_komp.webp')
    @include breakpoint(max, tablet-extra)
      background-image: url('/assets/images/home/c_tablet_heroimage_1484438981_komp.webp')
    @include breakpoint(max, mobile-extra)
      background-image: url('/assets/images/home/d_mobile_heroimage_1484438981_komp.webp')
    background-image: url('/assets/images/home/a_desktop_heroimage_1484438981_komp.webp')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
  &.subpage
    height: 300px


#start
  h1
    max-width: 85%
    .heart
      svg
        margin-bottom: -19px
        height: 70px
  p
    column-count: 2
    column-gap: 4rem
    @include breakpoint(max, tablet)
      column-count: 1

.project-item
  border: 1px solid $website-bg
  @include transition(all)
  &:hover,
  &:focus,
  &:focus-within
    transform: scale(1.05)
