<div class="gda-container">
  <div class="gda-row">
    <div class="gda-col gda-no-padding gda-no-margin">
      <div class="wrap-heroimage"></div>
    </div>
  </div>

  <div class="gda-row" id="start">
    <div class="gda-col">
      <h1>
        Die <strong class="yellow">Internetagentur</strong> aus dem Herzen des <strong class="blue">Sauerlandes</strong> für den
        deutschsprachigen Raum.
      </h1>
      <a class="default-link">
        Kontakt aufnehmen <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m12 20-1.425-1.4 5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8Z"/></svg>
      </a>
    </div>
  </div>

  <div class="gda-row" id="services">
    <div class="gda-col">
      <h2>
        Unsere Leistungen: Angular, WordPress und eCommerce.
      </h2>
      <a class="default-link" routerLink="">
        Alle Leistungen anzeigen <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m12 20-1.425-1.4 5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8Z"/></svg>
      </a>
    </div>
  </div>

  <div class="gda-row gda-bg-light" id="vision">
    <div class="gda-col">
      <h3>
        Unsere Vision: Das <strong class="blue">Internet</strong> zu einem schöneren und sicheren Ort machen.
      </h3>
      <a class="default-link">
        Kontakt aufnehmen <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m12 20-1.425-1.4 5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8Z"/></svg>
      </a>
    </div>
  </div>

  <div class="gda-row gda-bg-light" id="mission">
    <div class="gda-col">
      <h3>
        Unsere Mission: <strong class="blue">Webdesign</strong> verstehen, bauen, hinterfragen und verbessern.
      </h3>
      <a class="default-link">
        Kontakt aufnehmen <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m12 20-1.425-1.4 5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8Z"/></svg>
      </a>
    </div>
  </div>

  <div class="gda-row gda-bg-light" id="burning">
    <div class="gda-col">
      <h3>
        Unsere Leistungen: <strong class="blue">Angular</strong>, WordPress und eCommerce.
      </h3>
      <a class="default-link">
        Alle Leistungen anzeigen <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m12 20-1.425-1.4 5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8Z"/></svg>
      </a>
    </div>
  </div>

  <div class="gda-row" id="teamimage">
    <div class="gda-col gda-no-horizontal-padding gda-grid gda-grid-2-column">
      <div class="gda-grid-item">
        <h4>Wir designen entwickeln Software mit Fokus auf UI.</h4>
      </div>
      <div class="gda-grid-item">
        <h4>Wir designen entwickeln Software mit Fokus auf UI.</h4>
      </div>
      <div class="gda-grid-item">
        <h4>Wir designen entwickeln Software mit Fokus auf UI.</h4>
      </div>
      <div class="gda-grid-item">
        <h4>Wir designen entwickeln Software mit Fokus auf UI.</h4>
      </div>
    </div> 
  </div>

  <div class="gda-row" id="teamimage">
    <div class="gda-col gda-no-padding">
      <img src="../../../assets/images/home/stock-photo-astronaut-in-space-costume-in-outer-space-spacewalk-1484438981.jpg" title="Bild von den beiden Gründern" alt="Bild von den beiden Gründern Jan Pieper und Benjamin Richter">
    </div>
  </div>
</div>
