<div class="gda-row">
  <div class="gda-col gda-no-padding gda-no-margin">
    <div class="wrap-heroimage">
      <div class="heroimage"></div>
    </div>
  </div>
</div>

<div class="gda-row gda-p-mobile-default" id="start">
  <div class="gda-col gda-m-top-5 gda-m-bottom-5">
    <h1 class="gda-m-bottom-2">
      Die <strong class="blue">Onlineagentur</strong><br>aus dem <span class="heart">
        <svg version="1.1" id="Warstwa_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px"
             y="0px"
             viewBox="0 0 430 430" style="enable-background:new 0 0 430 430;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #06ba50;
          }

          .st1 {
            fill: #06ba50;
          }

          .st2 {
            fill: none;
            stroke: #06ba50;
            stroke-width: 12.25;
            stroke-miterlimit: 14;
          }

          .st3 {
            fill-opacity: 0;
          }

          .st4 {
            fill: #131432;
          }

          .st5 {
            fill: none;
          }
        </style>
        <g>
          <path class="st0" d="M215,381.4c-1.72,0-3.37-0.68-4.59-1.9L65.45,234.55c-20.59-20.56-31.92-47.91-31.92-77.01
            c0-29.09,11.34-56.44,31.93-77.01C86.05,59.94,113.4,48.6,142.48,48.6c27,0,52.52,9.79,72.52,27.71
            c23.11-20.7,53.67-30.51,84.77-27.01c24.74,2.78,47.14,13.58,64.77,31.24c20.59,20.59,31.93,47.95,31.93,77.02
            c0,29.05-11.34,56.39-31.94,76.98L219.59,379.5C218.37,380.72,216.72,381.4,215,381.4z M142.48,61.58
            c-25.61,0-49.7,9.99-67.84,28.13c-18.13,18.12-28.12,42.2-28.12,67.82c0,25.62,9.99,49.71,28.12,67.82L215,365.73l140.36-140.36
            l0,0c18.14-18.14,28.13-42.22,28.13-67.8c0-25.61-9.99-49.7-28.13-67.85c-15.54-15.55-35.26-25.07-57.04-27.51
            c-29.2-3.28-57.85,6.74-78.6,27.51l-0.12,0.12c-2.51,2.51-6.57,2.54-9.12,0.06l-0.13-0.12C192.14,71.58,168.06,61.58,142.48,61.58z
            "/>
          <path class="st1" d="M69.04,150.14c-0.43,0-0.87-0.05-1.31-0.14c-3.25-0.72-5.3-3.93-4.58-7.18c3.53-15.96,11.54-30.53,23.15-42.13
            c16.24-16.24,37.82-25.19,60.75-25.19c11.69,0,25,5.49,34.1,10.1c2.97,1.5,4.15,5.12,2.65,8.09c-1.5,2.97-5.12,4.15-8.09,2.65
            c-11.21-5.68-21.39-8.8-28.66-8.8c-19.72,0-38.27,7.69-52.24,21.66c-9.99,9.98-16.87,22.5-19.91,36.21
            C74.29,148.22,71.8,150.14,69.04,150.14z"/>
        </g>
        </svg>
        </span> des <strong class="blue">Sauerlandes</strong>
      für den
      europäischen Raum.
    </h1>
    <p>Die <strong>german digital allstars</strong> sind eine Onlineagentur, die sich auf die Entwicklung und Umsetzung
      von digitalen Projekten spezialisiert hat. Dies kann beispielsweise die Erstellung von <strong>Websites,
        Online-Shops oder Social-Media-Kampagnen</strong> sein. Die Möglichkeiten, die das Internet für Unternehmen
      bietet, sind nahezu unbegrenzt und wir helfen dabei, diese Möglichkeiten auszuschöpfen und Ihr Unternehmen im
      digitalen Zeitalter erfolgreich zu positionieren. In der heutigen digitalisierten Welt ist es für Unternehmen
      unerlässlich, eine starke Onlinepräsenz zu haben, um auf dem Markt bestehen zu können.</p>
    <div class="display-flex flex-row">
      <a class="default-link button-main gda-m-bottom-0-5" href="mailto:hi@gda.technology">
        Gerne in Kontakt treten
        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
          <path d="m12 20-1.425-1.4 5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8Z"/>
        </svg>
      </a>
      <a class="default-link button-outline gda-m-bottom-0-5" href="/referenzen">
        Referenzen ansehen
        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
          <path d="m12 20-1.425-1.4 5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8Z"/>
        </svg>
      </a>
    </div>
  </div>
</div>

<div class="gda-row full-width" id="leistungen">
  <div class="gda-col gda-no-padding-bottom gda-m-bottom-3">
    <app-leistungen></app-leistungen>
  </div>
</div>


<div class="gda-row" id="facts">
  <div class="gda-col display-flex flex-row gda-no-vertical-padding gda-m-bottom-5">
    <div class="gda-bg-light gda-m-right-1 gda-m-right-mobile-0 gda-p-5 gda-p-mobile-default gda-m-bottom-mobile-default">
      <h3>
        Unsere Vision: Das <strong class="blue">Internet</strong> zu einem schöneren und sicheren Ort machen.
      </h3>
    </div>
    <div class=" gda-bg-light gda-m-left-1 gda-m-left-mobile-0 gda-p-5 gda-p-mobile-default">
      <h3>
        Unsere Mission: <strong class="blue">Webdesign</strong> verstehen, bauen, hinterfragen und verbessern.
      </h3>
    </div>
  </div>
</div>

<!--
<div class="gda-row" id="factsabout">
  <div class="gda-col gda-grid gda-grid-2-column gda-mobile-default-cell-style">
    <div class="gda-grid-item">
      <h4 class="gda-facts-about"><strong class="gda-tag">eCommerce</strong>Die neugierde an der Sache zeichnet uns
        aus.</h4>
    </div>
    <div class="gda-grid-item">
      <h4 class="gda-facts-about"><strong class="gda-tag">Webdesign</strong>Software darf nicht auffallen.</h4>
    </div>
    <div class="gda-grid-item">
      <h4 class="gda-facts-about"><strong class="gda-tag">Angular</strong>Die moderne Webdeveloper-Plattform von
        Google.</h4>
    </div>
    <div class="gda-grid-item">
      <h4 class="gda-facts-about"><strong class="gda-tag">Webentwicklung</strong>Wir designen entwickeln Software mit
        Fokus auf UI.</h4>
    </div>
  </div>
</div>
-->



<div class="gda-container">
  <div class="gda-row gda-p-mobile-default" id="start">
    <div class="gda-col gda-m-top-5 gda-m-bottom-5">
      <h1 class="gda-m-bottom-5">
        Die Referenzen & Partner der <br><span class="yellow">german </span> <span class="blue">digital </span> <span
        class="green">allstars</span>
      </h1>
      <p>Gerne stellen wir Ihnen eine Auswahl unserer <strong>Referenzen</strong> vor. In den vergangenen Jahren haben
        die wir erfolgreich zahlreiche Projekte abgeschlossen und dabei unsere Kompetenzen unter Beweis gestellt. Wir
        haben uns in den Bereichen <strong>Webdesign, Social Media und Suchmaschinenoptimierung (SEO)</strong> bewährt
        und können auf eine Vielzahl zufriedener Kunden verweisen. In unseren Referenzen finden Sie eine Auswahl von
        Projekten, die wir in den vergangenen Jahren durchgeführt haben. Sie dienen als Beispiele für unsere
        Leistungsfähigkeit und zeigen, dass wir auch anspruchsvolle Aufträge zuverlässig und erfolgreich umsetzen
        können. Wir freuen uns, wenn wir auch für Sie tätig werden dürfen und stehen Ihnen gerne für weitere Fragen zur
        Verfügung.</p>
    </div>
  </div>
  <div class="gda-row gda-p-mobile-default">
    <div class="gda-col gda-no-vertical-padding">
      <h2>Referenzen der german digital allstars</h2>
    </div>
  </div>
  <div class="gda-row gda-p-mobile-default" id="projects">

    <div class="gda-col display-flex flex-row flex-wrap flex-align-stretch">
      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>
            Goethe Unibator
          </h4>
          <a href="https://goetheunibator.de/" class="color-white">goetheunibator.de</a>
        </div>
        <a class="right yellow" href="https://goetheunibator.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WooCommerce</div>
          </div>
          <h4>Digitalwehr</h4>
          <a href="https://digitalwehr.de/" class="color-white">digitalwehr.de</a>
        </div>
        <a class="right yellow" href="https://digitalwehr.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Jan Pieper</h4>
          <a href="https://pieperjan.dev/" class="color-white">pieperjan.de</a>
        </div>
        <a class="right yellow" href="https://pieperjan.dev/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WooCommerce</div>
          </div>
          <h4>Oh Why</h4>
          <a href="https://oh-why.de/" class="color-white">oh-why.de</a>
        </div>
        <a class="right yellow" href="https://oh-why.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Triwerk</h4>
          <a href="https://www.triwerk-personal.de/" class="color-white">triwerk-personal.de</a>
        </div>
        <a class="right yellow" href="https://www.triwerk-personal.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Künstlerin Claudia Tebben</h4>
          <a href="https://www.tebben.art/" class="color-white">tebben.art</a>
        </div>
        <a class="right yellow" href="https://www.tebben.art/">
          Projekt anzeigen
        </a>
      </div>


      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Binaris Informatik</h4>
          <a href="https://binaris-informatik.de/" class="color-white">binaris-informatik.de</a>
        </div>
        <a class="right yellow" href="https://binaris-informatik.de/">
          Projekt anzeigen
        </a>
      </div>


      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Wellblech Sauerland</h4>
          <a href="https://wellblech-sauerland.de/" class="color-white">wellblech-sauerland.de</a>
        </div>
        <a class="right yellow" href="https://wellblech-sauerland.de/">
          Projekt anzeigen
        </a>
      </div>


      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Cyber Complete</h4>
          <a href="https://cybercomplete.de/" class="color-white">cybercomplete.de</a>
        </div>
        <a class="right yellow" href="https://cybercomplete.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Haus Westfeld</h4>
          <a href="https://www.haus-westfeld.de/" class="color-white">haus-westfeld.de</a>
        </div>
        <a class="right yellow" href="https://www.haus-westfeld.de/">
          Projekt anzeigen
        </a>
      </div>


      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Beatriz Hollstegge Rechtsanwältin</h4>
          <a href="https://rba-hollstegge.de/" class="color-white">rba-hollstegge.de</a>
        </div>
        <a class="right yellow" href="https://rba-hollstegge.de/">
          Projekt anzeigen
        </a>
      </div>


      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Cafe Creperie</h4>
          <a href="https://cafe-creperie.de/" class="color-white">cafe-creperie.de</a>
        </div>
        <a class="right yellow" href="https://cafe-creperie.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WordPress</div>
          </div>
          <h4>Skistadl Schmallenberg</h4>
          <a href="https://skistadl-schmallenberg.de/" class="color-white">skistadl-schmallenberg.de</a>
        </div>
        <a class="right yellow" href="https://skistadl-schmallenberg.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">Typo3</div>
          </div>
          <h4>Malermeister Pape</h4>
          <a href="https://www.malermeister-pape.de/" class="color-white">malermeister-pape.de</a>
        </div>
        <a class="right yellow" href="https://www.malermeister-pape.de/">
          Projekt anzeigen
        </a>
      </div>

      <div
        class="project-item half-width display-flex flex-row flex-align-center flex-justify-spacebetween gda-bg-blue gda-p-5">
        <div class="left">
          <div class="wrap-chip display-flex flex-row flex-wrap gda-m-bottom-1">
            <div class="chip gda-m-right-0-5 gda-m-bottom-0-5">WooCommerce</div>
          </div>
          <h4>Holistic Lifestyle</h4>
          <a href="https://holistic-lifestyle.de/" class="color-white">holistic-lifestyle.de</a>
        </div>
        <a class="right yellow" href="https://holistic-lifestyle.de/">
          Projekt anzeigen
        </a>
      </div>

    </div>
  </div>

  <!--
  <div class="gda-row">
    <div class="gda-col">
      <h2>Partner der german digital allstars</h2>
    </div>
  </div>
  <div class="gda-row gda-p-mobile-default" id="partner">
    <div class="gda-col display-flex flex-row flex-justify-center flex-wrap flex-align-stretch">
      <div class="logo">Logo Hö Ma</div>
      <div class="logo">Logo Adornis</div>
      <div class="logo">Logo Deutsche Online Agentur</div>
      <div class="logo">Logo Viereinhalb</div>
      <div class="logo">Logo creatin g</div>
      <div class="logo">Logo Google</div>
      <div class="logo">Logo Googel</div>
    </div>
  </div>
  -->
</div>



<div class="gda-row gda-m-top-5" id="teamimage">
  <div class="gda-col gda-no-padding">
    <picture>
      <source media="(max-width: 767.98px)"
              srcset="../../../assets/images/home/a_mobile_manlaptop_1780245680_komp.webp"/>
      <source media="(max-width: 1200.98px)"
              srcset="../../../assets/images/home/a_tablet_manlaptop_1780245680_komp.webp"/>
      <source media="(max-width: 1450.98px)"
              srcset="../../../assets/images/home/a_laptop_manlaptop_1780245680_komp.webp"/>
      <source media="(min-width: 1451px)"
              srcset="../../../assets/images/home/a_desktop_manlaptop_1780245680_komp.webp"/>
      <img title="Mann schaut konzentriert auf seinen Laptop" alt="Mann schaut konzentriert auf seinen Laptop"/>
    </picture>
  </div>
</div>
