// ! Custom Styling Navigation/AppComponent
@import ../assets/sass/_var
@import ../assets/sass/_mixins

.gda-main
  z-index: 0

.gda-navigation
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: $white
  border-bottom: 1px solid $outline-color
  @include defaultshadow
  z-index: 1020

  .gda-container
    .gda-row
      .gda-col
        width: inherit

        #burger-menu-toggler
          &:checked ~ app-sidenav
            left: 0

        &.gda-navi
          .gda-navi-link
            padding: 20px 10px
            display: flex
            justify-content: center
            align-items: center
            text-align: center
            text-decoration: none
            color: $black
            @include navihover

        .gda-sidenav-toggler
          padding: 0
          margin: 0
          border: 0
          background: 0
          border-radius: 0
          cursor: pointer

        .gda-logo-link
          padding: 15px 0
          max-height: 100px
          display: flex
          flex-direction: column
          justify-content: center
          align-items: flex-start
          overflow: hidden
          text-decoration: none

          .gda-logo
            font-weight: bold
            font-size: 2rem
            line-height: 1
            color: $black

          small
            color: $black
            line-height: 1


.gda-contact
  right: -100vw

.gda-contact
  position: fixed
  top: 0
  bottom: 0
  width: 100vw
  height: 100vh

.gda-sidenav
  position: fixed
  top: 0
  bottom: 0
  left: -100vw
  width: 70vw
  height: 100vh
  background-color: $white
  border-right: 1px solid $outline-color
  @include transition(left)
  @include defaultshadow
  z-index: -1



  // ! Footer
footer.gda-footer
  .gda-col,
  .gda-row
    padding: 0 !important
  .footer-contact
    padding-bottom: 30px
    max-width: 600px
    font:
      size: 5rem
      weight: bold
  a.link-mail
    position: relative
    padding: 20px 40px
    font:
      size: 5rem
      weight: bold
    background-color: $yellow
    color: $black
    &:before
      content: ''
      position: absolute
      top: -15px
      left: 40px
      display: block
      width: 50px
      height: 50px
      background-color: $yellow
      transform: rotate(30deg)
      z-index: -1
  .footer-service
    margin-top: 5%
    width: 100%
    .footer-service-logo
    .footer-service-service
      .service-navigation
        .service-navigation-item
          .navigation-item-link

