// ! Custom Styling Navigation/AppComponent
@import ../assets/sass/_var
@import ../assets/sass/_mixins

.gda-main
  background-color: $white
  z-index: 0

.gda-navigation
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1020

  // ! Small Header
  &.smallheader
    .gda-container
      .gda-row
        .gda-col
            padding-top: 0 !important
            background-color: $white
            border-bottom: 1px solid $outline-color
            .line
              background-color: $black !important

  .gda-container
    .gda-row
      .wrap-burger-menu
        margin-top: 30px
        .burger-menu
          .line
            margin-bottom: 6px
            display: block
            width: 25px
            height: 2px
            background-color: $white
            @include transition(all)
        #burger-menu-toggler
          ~ label
            margin-right: 20px
            cursor: pointer

          &:checked
            ~ .burger-menu
              .line
                height: 3px
              .one
                width: 30px
                -webkit-transform: rotate(45deg) translate(6px, 6px)
                -ms-transform: rotate(45deg) translate(6px, 6px)
                transform: rotate(45deg) translate(6px, 6px)
              .two
                width: 0
              .three
                width: 30px
                -webkit-transform: rotate(-45deg) translate(6px, -6px)
                -ms-transform: rotate(-45deg) translate(6px, -6px)
                transform: rotate(-45deg) translate(6px, -6px)

            ~ app-sidenav
              left: 0

      .gda-col
        padding: 15px 10% 0 !important
        @include breakpoint(max, mobile-extra)
          padding: 0 30px !important
        &.gda-navi
        .gda-sidenav-toggler
          padding: 0
          margin: 0
          border: 0
          background: 0
          border-radius: 0
          cursor: pointer
        .gda-logo-link
          padding: 15px 0
          max-height: 100px
          display: flex
          flex-direction: column
          justify-content: center
          align-items: flex-start
          overflow: hidden
          text-decoration: none

          .gda-logo
            font-weight: bold !important
            font-size: 2rem
            line-height: 1
            color: $black

            *
              font-weight: bold !important

          small
            color: $black
            line-height: 1


.gda-contact
  right: -100vw

.gda-contact
  position: fixed
  top: 0
  bottom: 0
  width: 100vw
  height: 100vh

.gda-sidenav
  position: fixed
  top: 0
  bottom: 0
  left: -100vw
  width: 70vw
  height: 100vh
  background-color: $white
  border-right: 1px solid $outline-color
  @include transition(left)
  @include defaultshadow
  z-index: -1


// ! Footer
footer.gda-footer
  .gda-col,
  .gda-row
    padding: 0 !important

  .footer-contact
    padding-bottom: 30px
    max-width: 600px
    font:
      size: 5rem
      weight: bold
    @include breakpoint(max, tablet)
      font:
        size: 3rem
    @include breakpoint(max, mobile)
      font:
        size: 2.1rem

  a.link-mail
    position: relative
    padding: 20px 40px
    font:
      size: 5rem
      weight: bold
    @include breakpoint(max, tablet)
      font:
        size: 3rem
    @include breakpoint(max, mobile)
      font:
        size: 2.1rem
    background-color: $yellow
    color: $black

    &:before
      content: ''
      position: absolute
      top: -15px
      left: 40px
      display: block
      width: 50px
      height: 50px
      background-color: $yellow
      transform: rotate(30deg)
      z-index: -1

  .footer-service
    margin-top: $default-padding-vertical
    @include breakpoint(max, mobile-extra)
      margin-top: $default-padding-horizontal
    @include breakpoint(max, mobile)
      display: flex
      flex-direction: column
      align-items: center

    width: 100%

    .footer-service-logo
      margin-right: 5rem
      width: 200px

    .footer-service-service
      width: 100%

      .service-navigation
        padding: 30px 30px !important
        list-style-type: none

        .service-navigation-item
          margin-right: 10px
          margin-bottom: 0

          .navigation-item-link

