<div class="gda-sidenav gda-container">
  <div class="gda-column">
    <div class="gda-col gda-no-padding gda-no-margin">
      <!--<button class="close-menu display-flex flex-row align-items-center" id="close-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M6.4 19 5 17.6l5.6-5.6L5 6.4 6.4 5l5.6 5.6L17.6 5 19 6.4 13.4 12l5.6 5.6-1.4 1.4-5.6-5.6Z"/></svg> Menu schließen
      </button>-->
      <a class="gda-navi-link" href="#leistungen">Leistungen</a>
      <a class="gda-navi-link" href="#projects">Referenzen</a>
      <a class="gda-navi-link" href="#contact">Kontakt</a>

      <hr>
      <p class="display-flex flex-column">
        <strong>E-Mail:</strong> <a href="mailto:hi.gda.technology">hi@gda.technology</a>
      </p>
      <p class="display-flex flex-column">
        <strong>Phone:</strong> <a href="tel:029726449">+49 (0) 2972 6449</a>
      </p>

      <hr>
      <a class="gda-navi-link" routerLink="impressum">Impressum</a>
      <a class="gda-navi-link" routerLink="datenschutz">Datenschutz</a>
    </div>
  </div>
</div>
