<div class="gda-sidenav gda-container">
  <div class="gda-column">
    <div class="gda-col gda-no-padding gda-no-margin">
      <a class="gda-navi-link" href="#vision">Vision</a>
      <a class="gda-navi-link" href="#mission">Mission</a>
      <a class="gda-navi-link" href="#services">Leistungen</a>
      <a class="gda-navi-link" href="#contact">Kontakt</a>

      <hr>
      <p>
        <strong>E-Mail:</strong> <a>hi@gda.technology</a>
      </p>
      <p>
        <strong>Phone:</strong> <a>02972 6449</a>
      </p>
    </div>
  </div>
</div>
