// ! Colors 
$white: #ffffff 
$black: #001624
$blue: #226F9E
$yellow: #FFD37E
$bg-light: #F4F2F2
$bg-dark: $black

// ! Abstand
$default-padding-horizontal: 5%
$default-padding-vertical: 10%

// ! Font 
$default-fontsize: 10px
$default-fontfamily: 'Helvetica', sans-serif

// ! Transition
$default-duration: 250ms
$default-timingfunction: ease-in-out