// ! Colors
$white: #ffffff
$black: #001624
$blue: #226F9E
$yellow: #FFD37E
$bg-light: #F4F2F2
$bg-dark: $black
$outline-color: #f7f7f7


// ! Abstand
$default-padding-horizontal: 10%
$default-padding-vertical: 5%

$padding-1: 10px
$padding-2: 20px
$padding-3: 30px
$padding-4: 40px
$padding-5: 50px

// ! Font
$default-fontsize: 10px
$default-fontfamily: 'Helvetica', sans-serif

// ! Default Container Width
$default-container: 85vw
$max-width: 1800px

// ! Transition
$default-duration: 250ms
$default-timingfunction: ease-in-out
